#rootPane {
	-fx-background-color: lightblue;
}

#easyPeasyButton:hover, #easyButton:hover, #hardButton:hover, #solverButton:hover, #toplistButton:hover, #backButton:hover, #submitButton:hover {     
 	-fx-background-color: lightgrey;
 	-fx-text-fill: black;
 	-fx-font-weight: bold; 
}

#easyPeasyButton, #easyButton, #hardButton, #solverButton, #toplistButton, #backButton, #submitButton {     
 	-fx-background-color: white;
 	-fx-background-radius: 0px;
}

#m1, #t1, #n1 {
    -fx-fill: salmon;
}

#m2, #t2, #n2 {
    -fx-fill: orangered;
}

#m3, #t3, #n3 {
    -fx-fill: darkred;
}

#mode, #time, #nickName {
    -fx-font-weight: bold;
}

#title{
    -fx-font-family: Helvetica, Arial, sans-serif;
}